@import "tailwindcss";

/* 
Card-Background-color: #252434;
Background-color: #1E1E1E;
LoginButton: #00A3FF;
COntinueButton:#00A3FF;
LinkHover:#00A3FF;
TextColor:#FFFFFF;
SignUp: #202E48;
Gold linear gradient: #D8A800, #7C7213, #D8A800
Silver linear gradient: #636363, #FFFFFF, #636363
Paragraphs: #AEAEAE
Rectangles: #252434

*/